@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    max-width:100%;
    overflow-x: hidden;
}
.mycard{
  margin-top: 30px;
}
.auth-card{
  padding:20px;
  text-align:center;
  max-width: 400px;
  margin: 20px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(52, 144, 230) !important; 
  box-shadow: 0 1px 0 0  rgb(52, 144, 230) !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(52, 144, 230) !important; 
  box-shadow: 0 1px 0 0  rgb(52, 144, 230) !important;
}
#signup-button{
  margin-top: 20px;
   width: 305px; 
   border-top-left-radius:25px ;
   border-top-right-radius:25px ;
border-bottom-left-radius:25px;
border-bottom-right-radius:25px ;
display: flex;
justify-content: center;
align-self: center;
}

.main-cointainer{
  display: flex;
 justify-content: center;
  margin-top: 20px;
}
.contact-con{
border: 2px solid black;
width: 350px;
height: 600px;
}
.private-chatbox{
border: 2px solid black;
width: 650px;
}
.user-detail{
  width: 100%;
  display: flex;
}
.user-detail:hover{
cursor:pointer ;
background-color: aliceblue;
}
.user-detail p{
  font-size: large;
  font-weight: 700;
  margin-left: 10px;
}

.pro-img :first-child{
  margin-top: 7px;
  margin-left: 15px;
  width: 40px;
  height: 40px;
border-radius: 50px;
}


.user-detail-active{
  width: 100%;
  display: flex;
}
.user-detail-active p{
  font-size: large;
  font-weight: 700;
  margin-left: 20px;
}

.pro-img-active :first-child{
  margin-top: 7px;
  margin-left: 15px;
  width: 40px;
  height: 40px;
border-radius: 50px;
}
.msg-type-box{
  display: flex;
}
.msg-type-box-input{
  width: 200px;
}
.msg-type-box button{
  width: 150px;
  height: 50px;
}
.chat-msg{
  height: 450px;
  overflow-y: scroll;
}
.nav-wrapper{
  background-color: aliceblue;
}
.msgbox-pub{
  margin-left: 30%;
  margin-top: 10px;
  width:500px;
  height:450px;
  border:2px solid black;
  overflow-y:scroll;
;border-radius: 4px;
}
.msgbox-pub-input{
  
}